.leftMenu {
  flex: 0 0 auto;
  width: 256px;
  background: #001529;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 1;

  .logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 160px;
    }
  }

  .menu {
    li {
      height: 40px;

      a {
        display: block;
        height: 100%;
        padding-left: 30px;
        color: #999;
        line-height: 40px;
        transition: all 0.5s;

        &:hover,
        &.active {
          background: #000c17;
          color: #fff;
        }
      }
    }
  }
}

.rightContainer {
  background: #f0f2f5;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .topBar {
    height: 64px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    .spacer {
      width: 100%;
    }
    .filter {
      width: 30px;
      margin-right: 15px;
    }
  }

  .content {
    padding: 20px;
    height: 100%;

    .main {
      background: #fff;
      height: 100%;
      padding: 20px;
    }
  }
}

.snackBar {
  position: fixed;
  left: 50%;
  width: 300px;
  height: 30px;
  line-height: 20px;
  margin-left: -150px;
  z-index: 1;
  padding: 5px;

  color: #fff;
  font-size: 13px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-40px);
  animation: transform 1s;
  &.error {
    background-color: red;
    transform: translateY(0px);
  }
  &.success {
    background-color: green;
    transform: translateY(0px);
  }
}

.loading {
  position: fixed;
  z-index: 1;
  background: transparent;
  width: 100%;
  height: 100%;

  .content {
    position: fixed;
    font-size: 12px;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    line-height: 70px;
    background: rgba(0, 0, 0, 0.68);
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: calc(-35px + 256px / 2);
  }
}
