.leftMenu {
  width: 256px;
  background: #001529;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 1;

  .logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 160px;
    }
  }

  .menu {
    li {
      height: 40px;

      a {
        display: block;
        height: 100%;
        padding-left: 30px;
        color: #999;
        line-height: 40px;
        transition: all 0.5s;

        &:hover,
        &.active {
          background: #000c17;
          color: #fff;
        }
      }
    }
  }
}

.rightContainer {
  background: #f0f2f5;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .topBar {
    height: 64px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    .spacer {
      width: 100%;
    }
    .filter {
      width: 30px;
      margin-right: 15px;
    }
  }

  .content {
    padding: 20px;
    height: 100%;

    .main {
      background: #fff;
      height: 100%;
      padding: 20px;
    }
  }
}
