* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-flex.f-wrap {
  justify-content: space-between;
}

#app {
  display: flex;
  min-height: 100vh;
}

@mixin itemFunc($width, $height: 55px) {
  display: flex;
  align-items: center;
  width: $width;
  height: $height;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0px 20px 0;
  font-size: 14px;
  position: relative;

  img {
    width: 40px;
    cursor: pointer;
  }

  .title {
    width: 100%;
    word-break: break-all;
    margin-left: 10px;
    cursor: pointer;
  }

  .delete {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 10px;
    display: block;
    text-align: center;
  }
}
